@model Equipment.Models.Device
@using System.Web.Optimization

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Styles.Render("~/Content/datepicker3.css")
}
@section Scripts{
    @Scripts.Render("~/bundles/CreatePack")
}

<style>
    .input-group {
        font-size: 14px !important;
    }

    button {
        font-size: 14px !important;
    }
    .input-group-addon{
        min-width:160px;
    }
    .input-group{
        margin-top:5px;
    }
</style>

<h2>Create</h2>
<div class="row jumbotron">
   
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("UserName", @HttpContext.Current.User.Identity.Name)

            <h4>@Html.ActionLink("Click Here to add many devices", "CreateMany", "Devices")</h4>
            <hr />
            <div class="col-lg-8">
                @Html.ValidationSummary(true)

                <div class="input-group">
                    @Html.LabelFor(model => model.DeviceSerialNumber, new { @class = " input-group-addon" })
                    @Html.TextBoxFor(model => model.DeviceSerialNumber, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.DeviceSerialNumber)
                </div>
                <div class="input-group">
                    @Html.LabelFor(model => model.DeviceUser, new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.DeviceUser, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="UserClick">Click here to add me as a user</button>
                    </span>
                </div>

                <div class="input-group">
                    @Html.LabelFor(model => model.DeviceDictionaryId, "DeviceDictionaryId", new { @class = "input-group-addon" })
                    @Html.DropDownList("DeviceDictionaryId", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model=>model.DeviceDictionaryId)
                </div>

                <div class="input-group">
                    @Html.LabelFor(model => model.Batch, new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.Batch, new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model=>model.Batch)

                </div>
                <div class="input-group">
                    @Html.Label("Data początkowa", new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.Start, new { @id = "StartDatePicker", @class = "datepicker form-control" })

                </div>
                <div class="input-group">
                    @Html.Label("Data początkowa", new { @class = "input-group-addon" })
                    @Html.TextBoxFor(model => model.End, new { @id = "EndDatePicker", @class = "datepicker form-control" })
                </div>


                <div class="input-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>

        }
  
</div>




