@model Equipment.Models.Device
@using System.Web.Optimization
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @Scripts.Render("~/bundles/EditPack")
}
@section Styles{
    @Styles.Render("~/Content/datepicker3.css")
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UserName", @HttpContext.Current.User.Identity.Name)
    <div class="form-horizontal">
        <h4>Device</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DeviceId)

        <div class="input-group">
            @Html.LabelFor(model => model.DeviceSerialNumber, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.DeviceSerialNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeviceSerialNumber)
        </div>

        <div class="input-group">
            @Html.LabelFor(model => model.DeviceUser, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.DeviceUser, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeviceUser)
                <button type="button" class="btn btn-default" id="UserClick">Click here to add me as a user</button>
        </div>

        <div class="input-group">
            @Html.LabelFor(model => model.DeviceDictionaryId, "DeviceDictionaryId", new { @class = "input-group-addon" })
                @Html.DropDownList("DeviceDictionaryId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeviceDictionaryId)
        </div>

        <div class="input-group">
            @Html.LabelFor(model => model.Batch, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.Batch, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Batch)
        </div>
        <div class="input-group">
            @Html.LabelFor(model => model.Start, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.Start, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Start)
        </div>
        <div class="input-group">
            @Html.LabelFor(model => model.End, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.End, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.End)
        </div>

        <div class="input-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
