@model IEnumerable<Equipment.Models.Device>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceDictionary.DeviceManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceSerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceDictionary.DeviceManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceId })
        </td>
    </tr>
}

</table>
