@model Equipment.Models.DeviceDictionary

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        .input-group-addon {
            min-width: 150px;
        }
        .input-group{
            margin-top:5px;
        }
    </style>

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DeviceDictionary</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="input-group">
            @Html.LabelFor(model => model.DeviceManufacturer, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.DeviceManufacturer, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.DeviceManufacturer)
        </div>

        <div class="input-group">
            @Html.LabelFor(model => model.DeviceName, new { @class = "input-group-addon" })
                @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(model => model.DeviceName)
        </div>

        <div class="input-group">
                <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
